# Django
*.pyc
__pycache__/
db.sqlite3
media/

# Virtualenv
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Systemowe
.DS_Store
Thumbs.db

# Pliki archiwalne i lokalne kopie
*.zip

# Presentation files should not be tracked in Git
PRESENTATION_FOR_LAYMAN.*