{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BiblioTech{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div style="max-width:1280px; margin:0 auto; display:flex; justify-content:space-between; align-items:center;">
            <h2><a href="/" style="color:#9e8c46; text-decoration:none;">📚 BiblioTech</a></h2>
            <nav>
                <a href="/">Strona główna</a>
                <a href="/katalog/">Katalog</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'moje_rezerwacje' %}">Moje rezerwacje</a>
                    <span style="margin:0 15px;">Witaj, {{ user.username }}</span>
                    <a href="{% url 'logout' %}">Wyloguj się</a>
                {% else %}
                    <a href="{% url 'login' %}">Zaloguj się</a>
                    <a href="{% url 'register' %}">Zarejestruj się</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>