{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BiblioTech{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-container">
            <!-- Logo + nazwa -->
            <div class="logo">
                <span class="book-icon">📖</span>
                <h1>BiblioTech</h1>
            </div>
            
            <nav>
                <a href="/">Strona główna</a>
                <a href="/katalog/">Katalog</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'moje_rezerwacje' %}">Moje rezerwacje</a>
                    <span>Witaj, {{ user.username }}!</span>
                    <a href="{% url 'logout' %}">Wyloguj się</a>
                {% else %}
                    <a href="{% url 'login' %}">Zaloguj się</a>
                    <a href="{% url 'register' %}">Zarejestruj się</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>